#BloodSugarTracker{
    text-align: center;
    font-size: 75px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
   
}
p{
   
    margin-left: 100px;
    display:inline-block;
    

}
fieldset{
    width: auto;
}
input{
    font-size: 50px;
    display: block;
    margin: auto;
}
button{
    font-size: 50px;
    display: block;
    margin: auto;
    
}
#flex{
    font-size: 40px;
    text-align: center;
}
