#BloodSugarTracker{
    text-align: center;
    font-size: 75px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap
   
}
p{
    font-size: 30px;
    margin-left: 100px;
    display:inline-block;
    

}
fieldset{
    width: auto;
}
input{
    font-size: 30px;
    display: block;
    margin: auto;
}
button{
    font-size: 30px;
    display: block;
    margin: auto;
    
}
#flex{
   
    font-size: 1000px;
}