#AboutMeButton {
    width: 250px;
    height: 250px;
    
}

#WebsiteHeader {
    font-size: 1000px;
    text-align: center;
    margin: 0%;
}

#RubensPicture {
    width: 300px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    
}

#RubensText {
    font-size: 25px;
    text-align: center;
    width: 500px;
    padding: 20px;
    border: 5px solid gray;
    margin-left: auto;
    margin-right: auto;

}

#YoutubeButton {
    width: 250px;
    height: 250px;
 
}

#InstagramButton {
    width: 250px;
    height: 250px;
    
}

#LinkedinButton {
    width: 250px;
    height: 250px;
 
}

#WebsiteHeader {
    font-size: 100px;
    font-family: 'Times New Roman', Times, serif
}

.flex-container{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;

    row-gap: 100px;
    column-gap: 200px;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-left: 120px;
    padding-bottom:120px;
    
}

.flex{
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    flex-wrap: wrap; 
    padding-left: 700px;
}

legend{
    font-size: 25px;
    margin-left: 100px;

}

fieldset{
    padding: 50px;
}
#Fancify{
    margin-left: 85px;
}

#Moo{
    margin-top: 10px;
    display:block;

}
#Button5{
    padding: 20px;
}
#BloodSugarButton{
    padding: 20px;
}
#FancifyHeader{
    text-align: center;
    
    font-size: 50px;
}
